$primaryColor : #272727;
$secondaryColor : #FF652F;
$textColor : #EEE;

//Path Variables

$main-bgImage-path: './img/model-1.jpg';

$fontFamily : 'Segoe UI', 'Nunito', Tahoma, Genava, Verdana, sans-serif;