@import "reset";
@import "mixin";
@import "variables";
@import "footer";
@import "about";
@import "contact";
@import "home";
@import "projects";
@import "nav";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import "responsive";
body{
    color: $textColor;
    background-color: $primaryColor;
    height: 100vh;
    font-family: $fontFamily;
}

a{
    color: $textColor;
    text-decoration: none;
}